.grid {
  background: #f6f6f6;
  padding: 50px 25px;
  padding-bottom: 250px;
  border-radius: 25px;
  margin: auto;
  margin-top: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  * {
    justify-self: center;
  }
}
