@use '../../../partials/utils/mixins' as *;

@include mobile {
   .linebreak {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    span {
    
    }
   }
  }