.containerSlider {
  max-width: 100%;
  height: 415px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activeAnim {
  opacity: 1;
}

.btnSlide {
  width: 80px;
  height: 60px;
  opacity: .8;
  background: transparent;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.count {
  position: absolute;
  bottom: 25px;
  font-size: 1.125rem;
  color: white;
}
